@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');  

*{
    
    font-family: "Raleway";
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    font-size: 16px;
    max-width: 1400px;
}
.header{
    font-size: 16px;
    font-weight: 400;
    margin-left: 55px;
}
.header .header__logo{
    width: 61.09px;
    height: 19px;
}
.header .header__nav{
    display: flex;
    justify-content: space-between;
    align-items: end;  
    background-color: white;
    height: 69px; 
    margin-right: 20px;
}
.header .header__links{
    display: flex;
}
.header .header__link{
    text-decoration: none;
    color: black;
    width: 162px;
    padding-top: 48px;
    text-align: center;
}
.header .header__link:hover{
    color:#0065FC;
    border-top: 2px solid #0065FC;
    margin-top: -2px;
}
.main .main__section--search{
    margin-top: 59px;
    margin-left: 55px; 
}
.main .main__h1{
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
}
.main .main__p{
    margin-top: 8px;
}
.main .main__searchbar{
    margin-top: 20px
}
.main .main__searchbar{
    display: flex;
    font-size: 18px;
}
.main .main__searchbar--location{
    width: 50px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: RGB(242, 242, 242);
    border-radius: 20px 0px 0px 20px;
    position: relative;
}
.main .main__searchbar--iconelocation{
    margin-left: 50%;
    margin-right: 50%;
    position: absolute;
}
.main .main__form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .main__form--input{
    padding: 13px;
    border-left: none;
    border-right: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2 ;
    font-weight: 700;
    color: black;
    font-size: 18px;
    padding-right: 70px;
    padding-left: 5%;
}
.main .main__form--input::placeholder{
    color: black;
    font-size: 18px;
}
.main .main__form--button{
    background-color: #0065FC;
    padding: 14px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 0 20px 20px 0;
}
.main .main__form--button2{
    display: none;
}
.main__filters{
    margin-top: 45px;
    display: flex;
    font-weight: 700;
    align-items: center;
}
.main .main__h3{
    font-size: 18px;
    margin-right: 30px;
}
.main .main__list{
    list-style: none;
    display: flex;
}
.main__filter{
    font-size: 17px;
    padding: 15px 20px;
    margin-right: 41px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
}
.main__filter:hover{
    background-color: #DEEBFF;
}
.main .main__filter--icon{
    color: #0065FC;
    margin-right: 10px;
}
.main .main__infologement{
    margin-top: 38px;
}
.main .main__infologement--icon{
    padding: 7px 11px;
    margin-right: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 100px;
    color: #0065FC;
    font-size: 13px;
}
.main .main__article--hebergements{
    margin: 39px 50px 0px 45px;
    display: flex;
}
.main .main__hebergements--title{
    font-size: 20px;
    width: 100%;
    margin-bottom: 23px;
    position: relative;
}
.main .main__hebergements--marseille{
    width: 78%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding: 35px;
    border-radius: 10px;
    height: 500px;
}
.main .main__hebergements--populaires{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 36%;
    margin-left: 2%;
    padding: 35px;
    border-radius: 10px;
    height: 500px;
}
.main .main__hebergements--iconpopulaire{
    color: #0065FC;
}
.main .main__hebergements--icon{
    float: right;
    vertical-align: middle;
}
.main .main__links{
    text-decoration: none;
    color: inherit;
    width: inherit;
}    
.main .main__card--marseille{
    width: 30%;
    background-color: white;
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 29px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.28);
    font-size: 13px;
    line-height: 19px;
}
.main__card--details{
    margin-left: 10px;
    margin-top: 5px;
}
.main .main__card--imgmarseille{
    object-fit: cover;
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 100px;
}
.main .main__card--title{
    font-weight: 700;
}
.main .main__card--price{
    font-size: 12px;
}
.main .main__card--score{
    margin-top: 2px;
    color: #0065FC;
}
.main__card--score .fa-solid.fa-star:last-child{
    color: grey;
}
.main__h4{
    font-size: 18px;
}
.main .main__card--imgpopulaires{
    object-fit: cover;
    width: 120px;
    height: 130px;
    border-radius: 10px 0 0 10px;
}
.main__card--populaire .main__links{
    display: flex;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.28);
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 20px;
    padding: 5px;
}
.main__card--populaire .main__card--details{
    display: flex;
    flex-direction: column;
    
}
.main__card--populaire .main__card--score{
    margin-top: auto;
}
.main .main__article--activités{
    margin: 55px 10px 0 45px;
}
.main .main__activités--title{
    font-size: 20px;
}
.main .main__activités--marseille{
    margin-top: 20px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}
.main .main__affiches--marseille{
    margin-right: 40px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.28);
    border-radius: 20px 20px 20px 20px;
    width: 20%;
}
.main .main__affiches--img{
    object-fit: cover;
    width: 100%;
    height: 320px;
    border-radius: 20px 20px 0 0;
    
}
.main .main__affiches--title{
    border-radius: 0 0 20px 20px;
    background-color: white;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    padding-left: 13px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.footer{
    display: flex;
    margin-top: 60px;
    margin: 60px 53px 0 48px;
    justify-content: space-around;
    background-color: #F2F2F2;
}
.footer .footer__ul{
    list-style: none;
    margin-top: 45px;
    margin-bottom: 35px;
}
.footer .footer__li:first-child{
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
}
.footer .footer__li{
    margin-bottom: 12px;
    font-size: 14px;
}
@media screen and (max-width: 991px){
    *{
        max-width: 992px;
    }
    .main .main__h3{
        margin-right: 10px;
    }
    .main .main__filter{
        padding: 8px 5px;
        margin-right: 10px;
        font-size: 16px;
    }
    .main .main__article--hebergements{
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: center;
        margin: 39px 10% 0px 10%
    }
    .main .main__hebergements--marseille{
        width: 100%;
    }
    .main .main__hebergements--populaires{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        width: 103%;
        height: auto;
        flex-wrap: wrap;
        padding: 35px 25px 35px 30px;
        margin-left: 0;
    }
    .main .main__card--imgpopulaires{
        width: 85px;
    }
    .main .main__hebergements-title{
        flex-basis: 100%;
    }
    .fa-solid.fa-chart-line{
        color: #0065FC;
    }
    .main .main__hebergements--icon{
        float: right;
        vertical-align: middle;
    }
    .main__hebergements--populaires .main__links{
        width: auto;
        height: auto;
    }
    .main .main__card--populaire{
        width: 30%;
        margin-right: 3%;
        word-wrap: break-word;
    }
    .main__card--populaire .main__links{
        line-height: 16px;
    } 
    .main .main__affiches--img{
        height: 211px;
    }
    .main .main__card--price{
        font-size: 11px;
    }
}
@media screen and (max-width: 767px){
    
    .header{
        margin-left: 0;
        margin-right: 0;
    }
    .header .header__nav{
        flex-direction: column;
        align-items: center;
        margin-top: 21px;
        margin-right: 0;
    }
    .header .header__link{
        padding-bottom: 20px;
        border-bottom: 2px solid #f2f2f2;
        width: 50vw;
    }
    .header .header__link:hover{
        border-top: none;
        border-bottom: 2px solid #0065FC;
        margin-top: -2px;
    }
    .main .main__section--search{
        margin-left: 20px;
        margin-right: 20px;
    }
    .main .main__h1{
        margin-right: 20px;
    }
    .main .main__searchbar{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .main .main__form{
        width: 90%;
        justify-content: unset;
    }
    .main .main__form--input{
        padding-left: 4%;
        padding-right: 2%;
    }
    .main .main__form--button{
        display: none;
    }
    .main .main__form--button2{
        display: inline-block;
        width: 50px;
        height: 49px;
        justify-content: center;
        align-items: center;
        background-color: #0065FC;
        border-radius: 0px 20px 20px 0px;
        color: white;
        border: 0;
    }
    .main .main__list{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .main .main__filters{
        flex-direction: column;
        align-items: unset;
        
    }
    .main .main__filter{
        width: 42%;
        font-size: 11px;
        margin-top: 2vh;
        margin-right: 0;
    }
    .main .main__list{
        margin-top: 2vh;
        justify-content: space-between;
    }
    .main .main__article--hebergements{
        flex-direction: column-reverse;
        margin: 0;
        width: 100vw;
    }
    .main .main__hebergements--populaires{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
        position: relative;
        width: 100%;
    }
    .main .main__hebergements--title{
        width: 85%;
        margin-left: 0;
    }
    .main .main__card--populaire{
        width: 80%;
    }
    .fa-solid.fa-chart-line{
        color: #0065FC;
    }
    .main .main__hebergements--icon{
        float: right;
        vertical-align: middle;
    }
    .main .main__hebergements--marseille{
        flex-direction: column;
        justify-self: center;
        align-items: center;
        background-color: white;
        height: auto;
        padding-left: 0;
        padding-right: 0;
    }
    
    .main .main__card--marseille{
        width: 80%;
        margin-right: 3vw;
    }
    .main.main__hebergements--title{
        margin-left: 5vw;
    }
    .main .main__h4{
        display: none;
    }
    .main .main__article--activités{
        margin: 0;
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .main__activités--marseille{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main__activités--title{
        margin-left: 5%;
    }
    .main .main__affiches--marseille{
        width: 90%;
        margin-right: 0;
        margin-bottom: 2vh;
    }
    .main .main__affiches--img{
        height: 30vh;
    }
    .footer{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
    }
    .footer .footer__ul{
        margin-left: 10vw;
    }
}



    


