@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');  

*{
    max-width: 1400px;
    font-family: "Raleway";
    margin: 0;
    padding: 0;
    
}
body{
    background-color: white; 
    margin-left: 55px;  
}
.header{
    font-size: 16px;
    font-weight: 400;
}
.header .header__logo{
    width: 61.09px;
    height: 19px;
}
.header .header__nav{
    display: flex;
    justify-content: space-between;
    align-items: end;  
    background-color: white;
    height: 69px; 
    margin-right: 42px;
    
}

.header .header__links{
    display: flex;
}

.header .header__link{
    text-decoration: none;
    color: black;
    width: 162px;
    padding-top: 48px;
    text-align: center;
}
.header .header__link:hover{
    color:#0065FC;
    border-top: 2px solid #0065FC;
    margin-top: -2px;
}
.main{
    margin-top: 59px;
}
.main .main__h1{
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
}
.main .main__p{
    margin-top: 8px;
}
.main .main__searchbar{
    margin-top: 20px
}
.main .main__searchbar{
    display: flex;
    font-size: 18px;
}
.location{
    width: 50px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: RGB(242, 242, 242);
    border-radius: 20px 0px 0px 20px;
}
.main .searchbar__form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .searchbar__input{
    padding: 13px;
    border-left: none;
    border-right: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2 ;
    font-weight: 700;
    color: black;
    font-size: 18px;
    padding-right: 70px;
}
.main .searchbar__input::placeholder{
    color: black;
    font-size: 18px;
}
.main .searchbar__button{
    background-color: #0065FC;
    padding: 14px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 0 20px 20px 0;
}
